---
import BasicLayout from '../layouts/BasicLayout.astro';
import { Image } from 'astro:assets';
import profileImage from '../assets/profile.jpeg';
---

<BasicLayout title="Home">
	<div class="flex items-center justify-between h-64 bg-gray-100 p-8">
		<div>
			<h1 class="text-6xl font-bold">Kelian Cazeneuve</h1>
			<h2 class="text-4xl mt-2">Étudiant en BUT MMI</h2>
		</div>
		<div>
			<img src={profileImage.src} alt="Kelian Cazeneuve" class="h-48 w-48 object-cover rounded-full">
		</div>
	</div>
	<div class="mt-8 text-center">
		<h2 class="text-3xl mb-4 text-green-950 font-bold">À propos de moi</h2>
		<p class="text-gray-800 text-2xl">Je suis un étudiant en BUT MMI passionné par le développement web et le design graphique.</p>
	</div>
	<div class="mt-8 text-center">
		<h2 class="text-3xl mb-4 text-green-950 font-bold">Mes compétences</h2>
		<ul class="list-none text-2xl text-gray-800">
			<li class="font-bold mb-2">Front-end</li>
			<ul class="text-gray-600 mb-4 flex justify-center gap-3">
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
			</ul>
			<li class="font-bold mb-2">Design</li>
			<ul class="text-gray-600 mb-4 flex justify-center gap-3">
				<li>Photoshop</li>
				<li>Illustrator</li>
				<li>Figma</li>
			</ul>
			<li class="font-bold mb-2">Audiovisuel</li>
			<ul class="text-gray-600 flex justify-center gap-3">
				<li>Premiere Pro</li>
				<li>After Effects</li>
				<li>Blender</li>
			</ul>
		</ul>
	</div>
</BasicLayout>