---
const today = new Date();
const year = today.getFullYear();
---
<footer class="bg-green-900 text-white py-4 mt-4">
	<div class="container mx-auto text-center">
		<p>&copy; {year} Kelian Cazeneuve. Tous droits réservés.</p>
	</div>
</footer>