---
const navItems = [
    { name: 'Accueil', href: '/portfolio/' },
    { name: 'Projets', href: '/portfolio/projects' },
    { name: 'Projets version blog', href: '/portfolio/blog' },
    { name: 'À propos', href: '/portfolio/about' },
];
---

<nav class="bg-white text-black p-4">
    <ul class="flex justify-end space-x-4">
        {navItems.map(item => (
            <li>
                <a href={item.href} class="hover:text-gray-700">{item.name}</a>
            </li>
        ))}
    </ul>
</nav>